<footer class="footer-content">
    <h3> Made with <i class="fa fa-heart"></i> </h3>
    <p> This project is developed with scrapping leetcode dsa problems and contains 2265 dsa problems cateogorised into 3 difficulty categories and 10 topic wise categories </p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        
    </ul>

    <div class="footer-bottom">
        <p>copyright &copy;2022 Abhi-dsa-search-engine | Abhishant kumar</p>
    </div>

</footer>