<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>DSA | Problems</title>

<body>

  <%- include('./partials/header_search.ejs') %>
    <!-- on search of any problem from the main page, it refers to this page -->
    <!-- homepage for this search engine, shows 15 randomly choosen problem from the databse of 2265 problems -->
    <div class="problem_on_search">
      <% if (body.length> 1) { %>
        <% for(var cnt=0; cnt < body.length; cnt++) { %>

          <a class="pb_url" href=/problems/<%=body[cnt]['problem_id'] %>><%= body[cnt]['problem_title'] %> |
              <% if(body[cnt]['problem_diff']=='hard_tag' ){ %>
                Hard
                <% } %>
                  <% if(body[cnt]['problem_diff']=='easy_tag' ){ %>
                    Easy
                    <% } %>
                      <% if(body[cnt]['problem_diff']=='medium_tag' ){ %>
                        Medium
                        <% } %>
          </a>
          <p class="pb_desc">
            <%= body[cnt]['problem_desc'] %>
          </p><br />
          <% } %>
            <% } else { %>
              <p>No problem matched your query...</p>
              <% } %>

    </div>



</body>

</html>